/* BODY stílusok */
body {
    background-color: black;
    background-image: url('kepek/auto_background_14.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1000px;
    margin: auto;
  }
  
  /* H1 stílusok */
  h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding: 20px;
  }
  
  /* H2 stílusok */
  h2 {
    background-color: rgb(50, 48, 48);
    padding: 30px;
    border-radius: 50%;
  }
  
  /* Linkek stílusai */
  a {
    color: orange;
    text-decoration: none;
    padding: 20px;
    margin: 30px;
    border: 10px solid orange;
    border-radius: 50%;
    background-color: rgb(50, 48, 48);
    display: inline-block;
  }
  
  /* Képek stílusai */
  img {
    width: 400px;
    border: 10px solid rgb(50, 48, 48);
    border-radius: 50%;
    padding: 10px;
  }
  
  /* Bekezdések stílusai */
  p {
    text-align: justify;
    font-size: 15px;
  }
  